*{
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

h1,h3{
    text-align: center;
}

.container {
    border-color: lightseagreen;
    border-radius: 5px;
    font-family: "Merriweather", serif;
    width: 70%;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="date"],
select{
    width: 100%;
    padding: 10px;
    outline-style: none;
    background-color: #e5f8f3;
    border:1px solid #a5c451;
    border-radius: 8px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button[type="submit"] {
    background-color: #fc6161;
    color:rgb(255, 255, 255);
    padding: 12px 20px;
    width: 100%;
    border-style: none;
    font-weight:bold;
    font-size: large;
    cursor: pointer;
    border-radius: 8px;
}
button[type="submit"]:hover{
    background-color: #f07474;
}
img{
    width: 12%;
    height: 11.5%;
    position: absolute;
    top: 7px;
    left: 3px;
    background-color: #2e3035;
    opacity: 0.77;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
}