<div class="container">
    <h1>VIIT Talent Hunt</h1>
    <h3>Exam Registration Form</h3>
<form #registerform='ngForm' (ngSubmit)='onSubmit(registerform)'>
    <p>Name:<input #name='ngModel' type="text"  placeholder="FirstName  MiddleName  LastName" name="userName" ngModel autocomplete="off" required>
    </p>
    <p>Institute Name:
    <input #studentInstitute #name='ngModel' type="text" name='userInstitute' ngModel autocomplete="off" required>
    </p>
    <p>Class:
        <select name="card_type" id="card_type" required >
            <option value="">--Select Your Current Year--</option>
            <option value="First">First Year</option>
            <option value="Second">Second Year</option>
            <option value="Third">Third Year</option>
            <option value="Final">Final Year</option>
        </select>
    </p>
    <p>Branch:
        <select name="card_type" id="card_type" required >
            <option value="">--Select Your Branch--</option>
            <option value="CSE">CSE</option>
            <option value="IT">IT</option>
            <option value="ETC">E&TC</option>
            <option value="MECH">Mech</option>
            <option value="CIVIL">Civil</option>
            <option value="AIDS">AI&DS</option>
            <option value="OTHER">Other</option>
        </select>
    </p> 
    <p>Roll.No:<input type='number' #name='ngModel' name='RollNo' ngModel autocomplete="off" required></p>
    <p>DIVISION:<input type='text' #name='ngModel' name="Division" ngModel autocomplete="off" required></p>
    <p>E-mail ID:<input #studentEmail type="email" placeholder="CollegeID" name='userEmail' ngModel autocomplete="off" required></p>
    <p>Mobile Number:<input #number='ngModel' type="number" name="userNumber" ngModel autocomplete="off" required pattern="^[7-9][0-9]{9}$"
    (keydown)='keyfunc()'></p>
    <button type="submit" [disabled]='check' (click)='fcheck(registerform.invalid)' >Save</button>
</form>
</div>
<app-hall-ticket></app-hall-ticket>